In [11]:
import pandas as pd
res2 = ("Argentina Atina Amazon Avala Arafursko Asal Ajkula Avokado Albanija Aranđelovac Arkanzas Alpi Azovsko Aralsko Antilopa Ananas Bugarska Bratislava Bojana Bukulja Beringovo Buško Bik"
          " Brusnica Belgija Beograd Bramaputra Babuna Barencovo Belo Babun Bagrem Belorusija Beč Bramaputra Bjelašnica Baltičko Bajkalsko Bizon Borovnica"
          " Cer Celebesko Crno Cvrčak Celer Cirih Cvekla Crvenka Čile Čačak Čabranka Čvrsnica Čukotsko Čad Čavka Čičak"
          " Češka Čikago Čemernica Čemernik Čileansko Čudsko Čvorak Čuvarkuća Ćićevac Ćehotina Ćičarija Ćelije Ćurka Ćurika"
          " Danska Dablin Drina Durmitor Dejvisovo Dojransko Dabar Dinja Dominika Debar Dunav Dukat Dajićko Delfin Dren"
          " Đakovo Đetinja Đeravica Đavolje Đerdapsko Đuđa Đumbir Gruzija Grac Gradac Grmeč Grenlandsko Gazivode Gepard Grašak"
          " Egipat Edinburg Eufrat Etna Egejsko Emu Eukaliptus Holandija Hag Hadson Hum Hebridsko Heviz Hrčak Hrast"
          " Finska Frankfurt Fulda Filipinsko Fitri Fazan Filadendron Italija Inđija Ibar Igman Irsko Iznik Iguana Ivančica"
          " Jamajka Jagodina Jordan Jelica Jadransko Jarun Jegulja Jabuka Jordan Jena Jelaška Javor Japansko Joca Jelen Jasen Japan Jajce Jablanica Jabuka Jonsko Jarevac Jarac Javor"
        " Monako Maribor Miljacka Medvednik Mirtojsko Malo Magarac Mango Makedonija Minhen Majna Maljen Mramorno Markovačko Majmun Maslačak"  
        " Nigerija Negotin Neretva Nidže Norveško Nikaragva Nosorog Nar Nepal Nen Ninaja Nuga Neven"
        " Oman Obrenovac Ob Olimp Orao Orah Ofenbah Odra Ozren Oblačinsko Orangutan Ovas"
        " Peru Parma Pek Prokletije Pečorsko Perućačko Puma Peršun Paragvaj Pirot Po Paštrik Prespansko Piton Podubica Pakistan Prizren Piva Pirineji Palićko Pas Pirinač"
        " Rumunija Rim Resava Romanija Rosovo Ribničko Roda Ribizla Srbija Sombor Sava Stara planina Sredozemno" 
        " Skadarsko Slon Suncokret Slovenija Srbobran Soča Sokolovica Severno Sentani Svinja Smokva Slovačka Sarajevo Sena Solomonsko Srebrno Soko Smreka"
        " Urugvaj Uroševac Una Ural Venecuela Valjevo Vrbas Vujan Vedelovo Viktorijino Vuk Visibaba Zimbabve Zaječar Zeta Zlatar Zapadno Zaovinsko Zmija ZovaŽeneva Žepa Željin Žuto"
        " Ženevsko Žirafa Žalfija Kenija Kragujevac Kupa Kosmaj Karsko Kaspijsko Kit Kivi Kamerun Kraljevo Kotra Kadinjača Keltsko Komo Kornjača Kamilica Kina Kikinda Kolorado Kopaonik"
        " Karipsko Krupačko Kraba Kafa"
        " Turska Tivat Tarim Tara Timorsko Tanganjika Tigar Tulipan Togo Torino Tamiš Tresibaba Tirensko Tuz Tvor Trnjina"
        " Litvanija Leskovac Lim Lovćen Laptevsko Ladoga Leopard Lala Luksemburg London Laba Lučevik Ligursko Ludoško Lav Lavanda")
res=res2.split(" ")
my_df = pd.DataFrame(res)
my_df.to_csv('BazaRijeci.csv', index=False, header=False)
my_df

               0
0      Argentina
1          Atina
2         Amazon
3          Avala
4      Arafursko
5           Asal
6         Ajkula
7        Avokado
8       Albanija
9    Aranđelovac
10      Arkanzas
11          Alpi
12       Azovsko
13       Aralsko
14      Antilopa
15        Ananas
16      Bugarska
17    Bratislava
18        Bojana
19       Bukulja
20     Beringovo
21         Buško
22           Bik
23      Brusnica
24       Belgija
25       Beograd
26    Bramaputra
27        Babuna
28     Barencovo
29          Belo
..           ...
301        Tarim
302         Tara
303     Timorsko
304   Tanganjika
305        Tigar
306      Tulipan
307         Togo
308       Torino
309        Tamiš
310    Tresibaba
311     Tirensko
312          Tuz
313         Tvor
314      Trnjina
315    Litvanija
316     Leskovac
317          Lim
318       Lovćen
319    Laptevsko
320       Ladoga
321      Leopard
322         Lala
323   Luksemburg
324       London
325         Laba
326      Lučevik
327     Ligursko
328      Ludoško
329          Lav
330      Lavanda

[331 rows x 1 columns]